

body {
    background-color: #73ca1c;
}
/* This is my header */
.header {
    padding: 5%;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #2a607c;
    color: #300be8;
    display: flex;
    justify-content:space-between;
}

.header h1 {
    display: inline-block;
    font-size: 40px;
    color: yellow
}
/* applies to my selfie */
.header img {
  max-height: 200px;
  float: left;
}



/* This affects the navigation bar- "About Me, Portfolio, Contact, Resume */
nav {
    padding-top: 40px;
    margin-right: 30px;
    /* float: right; */
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 30px;
    white-space: nowrap;
} 


nav ul {
    list-style-type: none;
    display: inline-block;
    margin-left: 25px;
}
/* --------------------------------------------- */
/* makes list items go horizontally */
li {
    display: inline;
    list-style-type: none;
    font-size: 20px;
    padding: 10px;
    margin: 10px;
}

/* The "a" tags are hyperlinks */
a {
    color: #be28d8;
    text-decoration: none;
}

p {
    font-size: 16px;
}

/* floats take images out of the flow */
.float-left {
    float: left;
    margin-right: 5%;
}

.float-right {
    float: right;
    margin-left: 5%;
} 
.content {
    width: 90%;
    display: inline-block;
    margin-left: 4%;
    margin-right: 4%;
}
.content-section {
    margin-bottom: 5%;
    padding: 50px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #b82cc5;
    color: #ffffff;
      border-style: solid;
    border-width: 2px;
   padding: 2%;
    float: left;
    width: 100%;
}
.content-section img {
    max-height: 200px;
}


.content-section header {
  padding: 20px;
}

.content-section p {
  text-align: left;
}

.content-section img {
  width: 300px;
  height: 400px;
}
/* makes the  word portfolio bigger */
#portfolio h2 {font-size:500%;}

  #contact-me {
   /* trying display flex and justify content to add space between li items */
    display: flex;
    align-items: center;
    justify-content: space-between;

  }


#contact-me { 
    list-style:none;
    display: inline-block; 
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: rgb(0, 136, 255);
    color: rgb(227, 10, 10);
    padding: 1px;
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}
/* Cards are split into two columns at 992px or smaller (about equal to a tablet in landscape) */

 /* @media screen and (max-width: 992px) {
    .content-section {
      width: 50%;
    }
  } */
  
  /* Cards are stacked on top of each other at 768px or smaller (about equal to tablets in portrait or phones in landscape)*/
  @media screen and (max-width: 768px) {
    .content-section img {
      display: none;}
    .header h1 {
      display: none;}
    .header img {
    max-height: 150px;}
 

  }