

body {
    background-color: #447611;
    margin-bottom: 150px
}

/* makes list items go horizontally */
li {
    display: inline;
    list-style-type: none;
    font-size: 20px;
    padding: 10px;
    margin: 10px;
}

/* The "a" tags are hyperlinks */
a {
    color: yellow
    text-decoration: none;
}

p {
    font-size: 16px;
}

/* floats take images out of the flow */
.float-left {
    float: left;
    margin-right: 5%;
}

.float-right {
    float: right;
    margin-left: 5%;
} 

h1 {
  /* I put this padding in to keep my h1 away from my profile picture, weirdly it sent the h1 BELOW my profile pic, but whatever */
  padding-left: 2%;
}

/* This is my header class which contains the nav element*/
.header {
    padding: 5%;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #2a607c;
    display: flex;
    justify-content:space-between;
    flex-wrap: wrap;
}
.header h1 {
    display: inline-block;
    font-size: 40px;
    color: yellow
}
.header img {
  max-height: 200px;
  float: left;
}
nav {
  padding-top: 40px;
    margin-right: 30px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 30px;
    white-space: nowrap; 
    /* white-space: nowrap; prevents links in the header from wrapping */
} 
nav ul {
    list-style-type: none;
    display: inline-block;
    margin-left: 25px;
}



.content {
   width: 90%;
    display: inline-block;
    margin-left: 4%;
    margin-right: 4%;
}
.content-section {
    margin-bottom: 5%;
    padding: 50px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #3a2810;
      border-style: solid;
    border-width: 2px;
   padding: 2%;
    float: left;
    width: 100%;
}
.content-section img {
    max-height: 200px;
}
.content-section header {
  padding: 20px;
}
.content-section p {
  text-align: left;
}
.content-section img {
  width: 300px;
  height: 400px;
}
/* makes the  word portfolio bigger */
#portfolio h2 {font-size:500%;}

/* This makes my_flex_container flexible */
.my_flex_container {
  display: flex;
  flex-direction: column;

}

#Citizen-Giants{
  flex-basis: 600px;
   /* flex-grow: 100;
  flex-shrink: 0; */
}

#Heirloom{
  flex-basis: 100px;
  /* flex-grow: 1;
  flex-shrink: 2; */
}
#Glowly{
  flex-basis: 100px;
  /* flex-grow: 1;
  flex-shrink: 2; */
}
#Solar{
  flex-basis: 100px;
  /* flex-grow: 1;
  flex-shrink: 2; */
}


/* makes my first portfolio item bigger without using flex */
 /* #Citizen-Giants  {min-height: 500px; 
} */

  #contact-me {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
#contact-me { 
    list-style:none;
    display: inline-block; 
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: rgb(0, 136, 255);
    color: rgb(227, 10, 10);
    padding: 1px;
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}
/* Cards are split into two columns at 992px or smaller (about equal to a tablet in landscape) */

 /* @media screen and (max-width: 992px) {
    .content-section {
      width: 50%;
    }
  } */
  
  /* Cards are stacked on top of each other at 768px or smaller (about equal to tablets in portrait or phones in landscape) also some pictures will dissapear*/
  @media screen and (max-width: 768px) {
    .content-section img {
      display: none;}
    .header h1 {
      display: none;}
    .header img {
    max-height: 150px;}
 

  }